.card-box {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 28px;
    p{
        color: #CFD2F5;
        font-size: 14px;
        margin-bottom: 0;
        .time{
            color: #8B8EAF;
            opacity: 0.5;
            font-style: italic;
            font-size: 13px;
            margin-left: 10px;
        }
    }
}